Code
!Code/User/*
Code/User/workspaceStorage
Slack
GitKraken


chromium
spotify
transmission/*
!transmission/settings.json
filezilla
pulse
openvpn
keybase
borg/keys
IJHack
keepassxc
configstore
libreswan/ipsec.secrets
dconf/user

