Code/*
!Code/User/*
Code/User/workspaceStorage
Signal
Slack
GitKraken
BraveSoftware
gcloud
Postman
pgadmin
libreoffice
liferea


chromium
spotify
transmission/*
!transmission/settings.json
filezilla
pulse
openvpn
keybase
Keybase
borg/keys
IJHack
keepassxc
configstore
libreswan/ipsec.secrets
dconf/user

*.swp
wireguard
pavucontrol*
QtProject.conf

