[user]
  email = github@legogris.se
  name = Robert Edström
[pull]
  rebase = true
[rebase]
  autostash = true
[alias]
  co = !git checkout
  tree = !git log --graph --decorate --oneline
  st = !git status

